.listContainer {
  width: 100%;
  padding: 1rem;
  display: grid;
  place-content: center;
}

.table {
  border-collapse: collapse;

  tr:hover {
    td {
      background-color: hsl(158, 75%, 80%);
    }
  }

  tr:nth-of-type(even) {
    background-color: hsl(158, 75%, 95%);
  }

  td {
    padding: 0.5vw 0.6vw;
    text-align: center;
    border: 1px solid var(--grey);
  }
}

.tableHeadCell {
  padding: 0.7vw 1.4vw;
  border: 1px solid var(--grey);
}

.noData {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
