.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}

.searchInput {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  min-width: 20rem;
  border: 1px solid var(--grey);
  border-radius: 3px;

  &:focus-visible {
    outline: 1px solid var(--accent-color-vgreen);
    z-index: 1;
  }
}

.searchBtn {
  display: grid;
  place-content: center;
  cursor: pointer;
  height: 3.1rem;
  width: 3.1rem;
  background-color: var(--white);
  border: 2px solid var(--grey);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;

  svg {
    fill: var(--accent-color-vgreen);
  }

  &:hover {
    border-color: var(--accent-color-vgreen);
  }
}
