.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
}

.searchInput {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  min-width: 20rem;
  border: 1px solid var(--grey);
}

.searchBtn {
  display: grid;
  place-content: center;
  cursor: pointer;
  height: 3.05rem;
  width: 3.05rem;
  background-color: var(--white);
  border: 1px solid var(--grey);
}
