@font-face {
  font-family: "PatuaOne-Regular";
  src: local("PatuaOne-Regular"), url("../PatuaOne-Regular.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Cabin";
  src: local("Cabin"), url("../Cabin-VariableFont.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "AlegreyaSans";
  src: local("AlegreyaSans"), url("../AlegreyaSans-Regular.ttf") format("opentype");
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  text-rendering: optimizeSpeed;
  text-wrap: balance;
}

body {
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  font-family: "PatuaOne-Regular", Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
