.container {
  display: flex;
  gap: 2rem;
  margin: 2rem;
}

.pagesIndicator {
  font-size: clamp(1rem, 3vw, 1.3rem);
}

.paginationBtn {
  background-color: transparent;
  transform: scale(2);
  border: 1px solid var(--grey);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:disabled {
    filter: grayscale(1);
    cursor: not-allowed;
    border-color: var(--grey) !important;
  }

  svg {
    fill: var(--accent-color-vgreen);
  }

  &:hover {
    border-color: var(--accent-color-vgreen);
  }
}
